@import './styles/components/variables';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,h2,h3,h4,h5,h6 p, small {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Great Vibes', cursive;
}

.btn-primary {
  background-color: $btn-primary;
  border: 0;
}

.btn-primary:hover {
  background-color: #6009b8;
}

.media-body { color: #ffffff; }

.primary-light {
  color:#ffffff;

  :hover {
    color: #7017cb;
  }
}

.bb-primary {
  border-bottom: solid 1px #7017cb;
}

.badge-primary-light {
  background-color: #7017cb;
}

.social-icons {
  padding: 0;
}

.social-icons > li {
  display: inline-block;
  padding-right:10px;
}